<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="Complete" Title="Process Monitor" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" Absent="allow" InstallDefault="local">
      <ComponentRef Id="Dll" />
      <ComponentRef Id="App" />
      <ComponentRef Id="AppConfig" />

      <Feature Id="ShortcutApp" Title="Shortcuts" Level="1" AllowAdvertise="no" Absent="allow" InstallDefault="local">
        <ComponentRef Id="AppShortcut" />
      </Feature>
      
      <Feature Id="CompleteAdditional" Title="Application Debug Symbols" Level="2" AllowAdvertise="no" Absent="allow" InstallDefault="local">
        <ComponentRef Id="AppPdb" />
      </Feature>
    </Feature>
    <Feature Id="Service" Title="Process Monitor Service" Level="2" ConfigurableDirectory="INSTALLFOLDER"  AllowAdvertise="no" Absent="allow" InstallDefault="local">
      <ComponentRef Id="Service" />
      <ComponentRef Id="ServiceConfig" />

      <Feature Id="ServiceAdditional" Title="Service Debug Symbols" Level="2" AllowAdvertise="no" Absent="allow" InstallDefault="local">
        <ComponentRef Id="ServicePdb" />
      </Feature>
    </Feature>
	</Fragment>
</Wix>