<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="statisticsFolder" value="MonitorService" />
    <add key="statisticsPath" value="statistics.xml"/>
    <add key="watchsPath" value="watchs.xml"/>
    <add key="saveTimer" value="600000"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="longHttpBinding" transferMode="Streamed"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ProcessMonitor.Monitor" behaviorConfiguration="metadataBehavior">
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.100:8080/Services/"/>
          </baseAddresses>
        </host>-->
        <endpoint address="/ProcessMonitor" binding="basicHttpBinding" contract="ProcessMonitor.IMonitor" bindingConfiguration="longHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
