<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="statisticsFolder" value="ProcessMonitor" />
    <add key="statisticsPath" value="statistics.xml"/>
    <add key="watchsPath" value="watchs.xml"/>
    <add key="connectionFormat" value="http://{0}:4325/ProcessMonitor"/>
  </appSettings>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMonitor" openTimeout="00:00:05" sendTimeout="00:00:10" receiveTimeout="00:00:10" closeTimeout="00:00:05" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint bindingConfiguration="BasicHttpBinding_IMonitor" contract="MonitorService.IMonitor" name="BasicHttpBinding_IMonitor" />
    </client>
  </system.serviceModel>-->
</configuration>
